!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title Loebolus
    %link{:rel => 'alternate', :type => 'application/rdf+xml', :href => 'index.rdf'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=EB+Garamond'}
    :css
      body {
        font-family:'EB Garamond', serif;
        margin: 80px auto;
        width: 720px;
        line-height: 24px;
      }
      a {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
      }
      a:hover {
        border-bottom: 1px solid black;
      }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32373168-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %h1 Loebolus
    %p
      Loebolus is based on
      %a{:href => 'http://www.edonnelly.com/loebs.html'}
        Edwin Donnelly's “Downloebables”
      , aiming to make all the public domain Loebs more easily downloadable
      by re-hosting the PDF's directly, without the need to enter CAPTCHA's.
    %p
      You can also download
      %a{:href => 'https://github.com/ryanfb/loebolus-data/archive/master.zip'}
        a .zip containing all #{associations.keys.length} PDF's
      (3.2GB).
      Or
      %a{:href => 'https://github.com/ryanfb/loebolus'}
        view the code used for generating this site on GitHub.
    %ul
      - associations.sort.map do |key,value|
        %li
          %a{:href => "http://ryanfb.github.io/loebolus-data/#{key}.pdf"}
            #{key} - #{value['title']}
    %small
      By downloading any of these files, you agree that you have verified that it is legal to do so from your territory. If you believe you are the copyright holder on any of these files and that they are <strong>not</strong> in the public domain in the United States, please <a href='mailto:ryan.baumann@gmail.com'>contact me</a>.
